@import '~react-impressjs/styles/impress-demo.css';
@import '~react-impressjs/styles/react-impressjs.css';
div#impress .step {
  width: 100vw;
  height: 100vh;
  padding: 0;
}
#demo.past, #demo.future {
  opacity: 1;
}
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import './common/base/variables';
@import './common/base/global';
@import './common/header';
@import './home/home';
@import './ErasmusApp';
