{"filter":false,"title":".npmignore","tooltip":"/.npmignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1490326553461,"hash":"6de8f0e3e8594eb5b82830502ee337348d4c3a20"}